<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>Positions are represented by numbers from 1 to 4, from left to right.</string>
		</dict>
		<dict>
			<key>Content</key>
			<string>You can run code multiple times, using only one switchFlags command each time (or do them all at once).</string>
		</dict>
	</array>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Number Ordering</string>
	<key>Description</key>
	<string>Description</string>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>PosterReference</key>
	<string>LiveViewPoster.png</string>
</dict>
</plist>
