<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>call</key>
		<dict>
			<key>Definition</key>
			<string>To tell a program to run a function. For example, calling the `switchFlags()` function in your code tells the program to perform the actions defined in that function.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>The%20World/Number%20Ordering</string>
				<key>Title</key>
				<string>Number Ordering</string>
			</dict>
		</dict>
		<key>command</key>
		<dict>
			<key>Definition</key>
			<string>Code that tells an application to perform a specific action. 
</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>The%20World/Number%20Ordering</string>
				<key>Title</key>
				<string>Number Ordering</string>
			</dict>
		</dict>
		<key>function</key>
		<dict>
			<key>Definition</key>
			<string>A named set of commands that can be run whenever needed.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>The%20World/Number%20Ordering</string>
				<key>Title</key>
				<string>Number Ordering</string>
			</dict>
		</dict>
		<key>Int</key>
		<dict>
			<key>Definition</key>
			<string>A type that stores an integer—a number that has no decimal, such as `10` or `-42`. </string>
		</dict>
	</dict>
</dict>
</plist>
