<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>ContentVersion</key>
	<string>1.0.2</string>
	<key>Name</key>
	<string>Numeric Word</string>
	<key>Description</key>
	<string>Learn programming logic and math together</string>
	<key>ContentIdentifier</key>
	<string>com.apple.devpubs.LearnToCode1</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>ImageReference</key>
	<string>Images/LtC1-icon.png</string>
	<key>Chapters</key>
	<array>
		<string>Document1.playgroundchapter</string>
	</array>
</dict>
</plist>
